<div class="hero-form">
  <form ng-attr-id="employeeinfo">
    <label for="persona">Persona:</label>
    <input type="text" id="persona" name="persona" ng-model="heroEntry.newHero.persona" required/>

    <label for="employeelastname">Alias:</label>
    <input type="text" id="employeelastname" name="employeelastname" ng-model="heroEntry.newHero.alias" required/>

    <label for="superpower-dropdown">Superpower</label>
    <select ng-model="heroEntry.newHero.power_id" name="superpower-dropdown">
      <option ng-repeat="superpower in heroEntry.superpowers track by $index">{{superpower.id}} {{superpower.name}}</option>

    </select>


    <input type="submit" value="Submit Hero" id="submitButton" ng-click="heroEntry.postHero()"/>
  </form>
</div>
